.single-con .content .content-overlay {
  background-color: #602fd6 !important;
}


.single-con .content-details {
  position: absolute;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.single-con .content-details h2 {
  color: #fff;
  padding-top: 5px;
}

.single-con h3
{
  width: 40px;
  color: #fff;
  margin-top: 115px !important;
  border-bottom:4px solid #fff;
  padding-bottom: 10px;
}

#consultant h1
{
     margin-left: -190px !important;
     font-size: 56px;
}

.two-line{
  margin-left: 100px;
  position: inherit;
  z-index: 1;
}


#gallery{
  background-image: url("../img/bc.png")!important;
	background-size: 949px 1520px;
	background-repeat: no-repeat;
	background-position:center;
}

.section-gap {
    padding: 60px 0;
}

.line-one-images-gallery{
  width: 104px;
  border-bottom: 4px solid #6b15d3;
  margin-left: -188px;
}
.line-two-images-gallery{
  width: 71px;
  border-bottom: 1px solid #6b15d3;
  margin-left: -84px;
  margin-top: -2px;
}

.images-gallery-btn{
  margin-top: 5%;
}
