.background-gradient{
  background: linear-gradient(to bottom right, #4a62dc, #6c12d3);
}

.img-lines{
  position: relative;
  z-index: 0;
  margin-top: -673px;
  height: 500px;
  width: 1400px;
  margin-left: -43px;
}

.img-logo{
  margin-left: 100px;
}
.banner-area {
      overflow: hidden;
}

.lines-img{
  margin-left: 50px;
  z-index: -50;
}

.default-header {
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}
.default-header {
  padding: 20px 0;
  width: 100% !important;
}
.header-banner{
  margin-bottom: -390px;
  height: 859px;
  width: 43%;
  z-index: 1;
  margin-left: 26%;
}

.banner-area .fullscreen {
  height: 590px !important;
}

@media (max-width: 768px) {
  .banner-area .fullscreen {
    height: 550px !important;
  }
}

@media (max-width: 991px) {
  .banner-content {
    margin-top: 100px;
    text-align: center;
  }
}

.banner-content h1 {
  font-size: 58px;
  font-weight: 700;
  line-height: 1.15em;
  /* margin-bottom: 20px; */
  /* color: #ff */
}

.banner-content > h1  {
  color: #fff !important;
  margin-left: 100px;
  position: inherit;
  z-index: 1;
}

.banner-content > h5  {
  color: #fff !important;
  margin-left: 100px;
  position: inherit;
  z-index: 1;
}

.banner-content > p  {
  color: #fff !important;
  margin-left: 100px;
  position: inherit;
  z-index: 1;
}

.two-line{
  margin-left: 100px;
  position: inherit;
  z-index: 1;
}


@media (max-width: 991px) {
  .banner-content h1 {
    font-size: 36px;
  }
}

@media (max-width: 991px) {
  .banner-content h1 br {
    display: none;
  }
}

@media (max-width: 1199px) {
  .banner-content h1 {
    font-size: 45px;
  }
}

@media (max-width: 414px) {
  .banner-content h1 {
    font-size: 40px;
  }
}

.banner-content p {
  margin-bottom: 30px;
  font-size: 14px;
  font-weight: 300;
  max-width: 730px;
}

@media (max-width: 991px) {
  .banner-content p br {
    display: none;
  }
}

.main-menubar {
  position: relative;
  margin-right: 100px;
}


.menu-bar span {
  color: #fff;
  font-size: 24px;
}
.extend-first-child {
  position: absolute;
  border-radius: 50px;
  margin-top: -7px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
  /*width: 5%;*/
}
.extend-second-child{
  left: 112%;
  top: 57%;
  position: relative;
}