.Daily-Tweets-Episodes {
    font-family: 'Lato', sans-serif;
    font-size: 65px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    word-wrap: break-word;

}

.Daily-Tweets-Episodes-video-title {
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}

.Daily-Tweets-Episodes-background {
    background-image: linear-gradient(318deg, #6c12d3, #4a62dc);
}

.Daily-Tweets-Episodes-video-img {
    width: 393px;
    height: 221px;
    position: relative;
    top: 0;
    left: 0;
}

.Daily-Tweets-Episodes-video-img-first-child {
    position: absolute;
    top: 32%;
    left: 41%;
    width: 13%;
}

.Daily-Tweets-Episodes-video-img-second-child {
    position: absolute;
    top: 37%;
    left: 46.4%;
    width: 3.6%;
}

.balls-left{
    background-image: url("../img/vector-smart-object-copy-9.png");
    /*background-size: 949px 1520px;*/
    background-repeat: no-repeat;
    background-position:left;
    padding-bottom:100px;
    padding-top:100px;
}

.daily-tweets-first-child {
    width: 100px;
    height: 5px;
}

.daily-tweets-second-child {
    margin-left: -4px;
    width: 100px;
    height: 1px;
    margin-bottom: -3px;
}

.daily-tweets-container {
    position: relative;
}