figure.snip1167 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    /*min-width: 220px;*/
    /*max-width: 98%;*/
    width: 105%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
}

figure.snip1167 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip1167 img {
    max-width: 100%;
    /*height: 100px;*/
    width: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    z-index: 1;
    position: relative;
}

figure.snip1167 blockquote {
    margin: 0;
    display: block;
    /*border-radius: 8px;*/
    position: relative;
    background-color: #fafafa;
    padding: 81px 2px 28px 11px;
    font-size: 0.8em;
    font-weight: 500;
    margin: -50px 0 0;
    line-height: 1.6em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1167 blockquote:before,
figure.snip1167 blockquote:after {
    font-family: 'Lato', sans-serif;
    /*content: "\201C";*/
    position: absolute;
    font-size: 50px;
    opacity: 0.3;
    font-style: normal;
}

figure.snip1167 blockquote:before {
    top: 70px;
    left: 20px;
}

figure.snip1167 blockquote:after {
    /*content: "\201D";*/
    right: 20px;
    bottom: 0;
}

figure.snip1167 .author {
    padding: 15px;
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}

figure.snip1167 .author h5 {
    opacity: 0.8;
    margin: 0;
    font-weight: 800;
}

figure.snip1167 .author h5 span {
    font-weight: 400;
    text-transform: none;
    display: block;
}

.testimonials-background {
    background-image: linear-gradient(318deg, #6c12d3, #4a62dc);
}

.balls-left {
    background-image: url("../img/vector-smart-object-copy-9.png");
    /*background-size: 949px 1520px;*/
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 100px;
    padding-top: 100px;
    background-size: 39%;

}

.testimonials {
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.quote-first-child {
    position: absolute !important;
    left: 45%;
    width: 47px !important;
    height: 44px;
    top: 26%;
}

.quote-second-child {
    position: absolute !important;
    left: 48%;
    width: 19px !important;
    height: 18px;
    top: 31%;
}

.Emma-Stone {
    object-fit: contain;
    background-image: linear-gradient(277deg, #4a62dc, #6c12d3), linear-gradient(#593ed8, #593ed8);
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    -webkit-background-clip: text;
    /*background-clip: text;*/
    -webkit-text-fill-color: transparent;
    padding-bottom: 13px;

}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.quotes-paragraph {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}

.testimonials-opacity > .slick-list > .slick-track > .slick-slide:nth-child(even) {
    opacity: 0.2;
}

.arrow-size {
    width: 89px;
}

.testimonials-container {
    width: 95%;
    position: relative;
}

.testimonials-arrows {
    text-align: center;
}

.testimonials-first-child {
    width: 100px;
    height: 5px;
}

.testimonials-second-child {
    margin-left: -4px;
    width: 100px;
    height: 1px;
    margin-bottom: -3px;
}