.balls-left {
    background-image: url("../img/vector-smart-object-copy-9.png");
    /*background-size: 949px 1520px;*/
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 100px;
    padding-top: 100px;
    background-size: 39%;
}

.videos {
    font-family: 'Lato', sans-serif;
    font-size: 72px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    word-wrap: break-word;

}

.videos-background {
    background-image: linear-gradient(318deg, #6c12d3, #4a62dc);
}

.videos-img {
    width: 1011px;
    height: 230px;
    /*max-width: 111% !important;*/
}

.container-opacity {
    opacity: 1.5 !important;
}

.video-title {
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

}

.nextArrow {
    position: absolute;
    left: 71%;
    top: 28%;
    z-index: 1;
}

.nextArrow > img {
    width: 32px;
}

.prevArrow {
    position: absolute;
    left: 23%;
    top: 26%;
    z-index: 1;
}

.prevArrow > img {
    width: 52px;
}

.swiper-slide:nth-child(even) {
    opacity: 0.5;
}

/*.videos-opacity > div:nth-child(1) {*/
/*opacity: 0.5;*/
/*}*/
/*.videos-opacity > div:nth-child(3) {*/
/*opacity: 0.5;*/
/*}*/
.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

figcaption {
    position: relative;
    z-index: 1;
    /* left: 0; */
    top: -90px;
    /* width: 200px; */
    /* height: 240px; */
    /* background: #000; */
    background-color: rgb(91, 62, 216, 0.5);
    /* background-color: #5b3ed8; */
    width: 69%;
    height: 93px;
    /* opacity: 0.5; */

}

.video-img-first-child {
    position: absolute;
    top: 34%;
    left: 84%;
    width: 15%;
}

.video-img-second-child {
    position: absolute;
    top: 49%;
    left: 90.3%;
    width: 4%;
}

.video-duration {
    object-fit: contain;
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.arrow-left {
    position: absolute;
    top: 43%;
    left: -25%;
    z-index: 1;
}

.arrow-right {
    position: absolute;
    right: 24%;
    top: 69%;
    width: 4%;
    z-index: 1;
}

.videos-container {
    padding-right: 0px;
    padding-left: 0px;
    width: 95%;
    position: relative;
}

.videos-arrows {
    text-align: center;
    /*letter-spacing: 38.29vw;*/
    top: 58%;
    /*left: 25%;*/
    position: absolute;
}

.videos-first-child {
    width: 100px;
    height: 5px;
}

.videos-second-child {
    margin-left: -4px;
    width: 100px;
    height: 1px;
    margin-bottom: -3px;
}

.videos_viewMoreButton {
    background-color: #FFFFFF;
    margin-top: 31px;
    margin-left: -4%;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background: linear-gradient(to right, rgba(25, 118, 210, 1), rgba(108, 18, 211, 1));
    border-radius: 4.3rem !important;
    padding: 0.8rem 2rem !important;
    box-shadow: 0 0 43px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    cursor: pointer;
}